.active {
  background-color: chocolate;
}

.wrapper {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.logo {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.links {
  display: flex;
  gap: 3em;
}